# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Node
node_modules/

# Env files
#frontend/.env
.env
**/.env


# Local DBs
*.db

# Alembic cache (keep migrations!)
alembic/versions/__pycache__/

# OS/editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
